<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Riwayat Pendidikan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <br>
  <table align="center">
    <tr>
      <td>SD</td>
      <td>:</td>
      <td>SDN 1 Banyumas</td>
    </tr>
    <tr>
      <td>SMP</td>
      <td>:</td>
      <td>SMPN 1 Banyumas</td>
    </tr>
    <tr>
      <td>SMA</td>
      <td>:</td>
      <td>SMAN 1 Banyumas</td>
    </tr>
    <tr>
      <td>S1</td>
      <td>:</td>
      <td>UNSOED</td>
    </tr>
  </table>
</ion-content>
